.container-header{
    background-color: #06AA48;
    height: 74px;
    display: flex;
}

.divBurger{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    margin-left: 110px;
}

.divMenu{
    margin-top: 25px;
    margin-left: 3px;
    width: 60px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    display: inline-block;
}

.divIconGE{
    color: white;
    margin-top: 13px;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 60px;
    cursor: pointer;
    display: inline-block;
}

.iconGE{
    height: 40px;
    width: 40px;
    display: inline-block;
}

.shieldMenu{
    width: 40px;
    display: inline-block;
    margin-top: 22px;
    padding-left: 25px;
}

.headerBrasileirao{
    width: 955px;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    white-space: nowrap;
    word-wrap: normal;
    display: inline-block;
}

.searchMenu{
    background-color: #05913D;
    display: flex;
    height: 34px;
    margin-top: 21px;
}
.searchMenu:has(input:focus){
    background-color: white;
    
}
.searchMenu input:focus-visible{
    border: none;
    outline: 0;
    box-sizing: none;
    box-decoration-break: none;
    box-shadow: 0 0 0 0;
}
.searchMenu-img{
    width: 32px;
    height: 34px;
    display: flex;
}

.img-lupa-search{
    width: 25px;
    height: 25px;
    margin: auto;
}

.searchMenu-text{
    display: flex;
}
.searchBar{
    background-color: transparent;
    border: none;
    padding-left:10px;
    padding-top: 2px;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: width 0.35s;
}
.searchBar:focus-visible{
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.searchBar:focus-visible::placeholder{
    color: grey;
}
.searchBar::placeholder{
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-nav-tabs{
    background-color: #06AA48;
    height: 60px;
    display: flex;
}
.item-tab{
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #82d4a3;
    margin-right: 20px;
    cursor: pointer;
}
.item-tab:hover{
    color: white;
}
.item-tab-class{
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #82d4a3;
    margin-right: 20px;
    margin-left: 70px;
    cursor: pointer;
}
.item-tab-class:hover{
    color: white;
}

/* TABELA COMEÇA AQUI */
table{
    border-spacing: 0;
}
.tabela-campeonato{
    display: flex;
    height: auto;
    margin-top: 40px;
    margin-left: 150px;
}

.tabela-brasileirao-a{
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;

}

.tabela-header{
    color: #111;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.625em;
    font-weight: bold;
    letter-spacing: -0.04em;
    line-height: 1.75em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.tabela-head{
    letter-spacing: -0.3px;
    font-size: 11px;
    vertical-align: middle;
    color: #999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tabela-head-coluna-a{
    padding: unset;
    text-align: left;
    border-top: solid 1px #999;
    border-bottom: solid 1px #999;
    width: 250px;
}
.tabela-head-coluna{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 21px;
    padding-right: 21px;
    text-align: center;
    border-top: solid 1px #999;
    border-bottom: solid 1px #999;
}
.tabela-pontos-corridos-body{
    padding: 21px;
    text-align: center;
    background-color: #fcfcfc;
    border-bottom: solid 1px #999;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
td:nth-child(even){
    background-color: #f5f5f5;
}
.tabela-pontos-corridos-body-a{
    border-bottom: solid 1px #999;
    text-align: left;
    font-size: 17px;
    letter-spacing: -0.03em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tabela-pontos-corridos-body-b{
    padding: 21px;
    text-align: center;
    background-color: #fcfcfc;
    border-bottom: solid 1px #999;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.tabela-pontos-corridos-body-a > span{
    color: #00f;
    padding-right: 15px;

}
.last-five-win{
    background-color: green;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 3px;
}
.last-five-loss{
    background-color: red;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 3px;
}
.last-five-draw{
    background-color: gray;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 3px;
}
.jogos-rodada-campeonato{
    margin-left: 32px;
    padding-left: 32px;
    border-left: solid 1px #999;
}
.tabela-jogos-header{
    color: #111;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.625em;
    font-weight: bold;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 38px;
}
.rodada-main{
    height: 40px;
    border-top: solid 1px #999;
    width: 400px;
    border-bottom: solid 1px #999;
    display: flex;
    align-items: center;
}
.rodada-seta-left{
    display: inline-block;
    text-align: left;
    width: 75px;
    vertical-align: center;
}
.rodada-seta-left > svg{
    transform: rotate(180deg);
    stroke-width: 10px;
    height: 1em;
    cursor: pointer;
}
.rodada-text{
    display: inline-block;
    text-align: center;
    vertical-align: center;
    width: 250px;
}
.rodada-seta-right{
    display: inline-block;
    text-align: right;
    width: 75px;
    vertical-align: center;
    cursor: pointer;
}
.rodada-seta-right > svg{
    stroke-width: 10px;
    height: 1em;
}
.rodada-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500px;
    text-transform: uppercase;
    font-weight: bold;
}
.jogos-rodada{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
}
.jogos-rodada-jogo{
    border-bottom: solid 1px #999;
}
.jogo-theme{
    height: 109px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.jogo-informacoes{
    color: #555;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.6875em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.3px;
    text-transform: uppercase;
    padding-top: 20px;
}
.jogo-informacoes-local{
    font-weight: normal;
}
.jogo-placar{
    align-items: center;
    color: #333;
    display: flex;
    height: 4em;
    justify-content: center;
}
.jogo-placar-equipe-mandante{
    display: flex;
    width: fit-content;
}
.jogo-placar-equipe-mandante span{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    margin: auto 0px;

}
.img-mandante{
    margin: auto 0px;
}
.img-visitante{
    margin: auto 0px;
}
.jogo-placar-equipe-visitante div img{
    width: 35px;
    height: 35px;
    margin: auto 0px;
    margin-right: 8px;
}

.jogo-placar-equipe-mandante div img{
    width: 35px;
    height: 35px;
    margin: auto 0px;
    margin-left: 8px;
}
.jogo-placar-box-resultado{
    width: 30%;
    height: 100%;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jogo-placar-box-versus{
    height: 8px;
    width: 9px;
    display: flex;
}
.jogo-placar-equipe-visitante{
    display: flex;
}
.jogo-placar-equipe-visitante img{
    margin-right: 8px;
}
.jogo-placar-equipe-visitante span{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    margin: auto 0px;
}