body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{

    color: white;
    text-align: left;
}

/*section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    margin: auto;
    text-align: center;
}*/

.container{
    width: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

div{
    text-align: center;
    margin: 1%;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}